<!DOCTYPE html>
<html>
  <head>
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <script src="../public/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>Pagina de Informatica</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
      </div>
    </nav>
      <h1>ELi hueco</h1>
  </body>
</html>